<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Hepsiburada TestNG Java Test Suit">
    <test name="Hepsiburada Apache Simple Report Test">
        <classes>
            <class name="TestSteps.testSteps">
            </class>
        </classes>
    </test>
</suite>